.photo{
    position: relative;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    /* transition: .5s ease; */
    backface-visibility: hidden;
    background-color: #ededed !important;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
/* .photo .button{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} */
  
.photo:hover .image {

    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	/* animation-timing-function: ease-in; */
    animation-duration: 0.5s;

    opacity: 0.45;
    filter: blur(2.5px);
    -webkit-filter:  brightness(40%) grayscale(30%) blur(3px);
}
 
.photo:hover .middle {
    opacity: 1;
}
@keyframes fadeInOpacity {
	0% {
        opacity: 1;
	}
    25% {
        opacity: 0.75;
        filter: blur(0.5px);
        -webkit-filter: brightness(100%) grayscale(15%) blur(0.5px);
    }
    50% {
        opacity: 0.65;
        filter: blur(1px);
        -webkit-filter: brightness(80%) grayscale(20%) blur(1px);
    }
    75% {
        opacity: 0.55;
        filter: blur(2px);
        -webkit-filter:  brightness(60%) grayscale(25%) blur(2px);
    }
    100% {
        opacity: 0.45;
        filter: blur(3px);
        -webkit-filter:  brightness(40%) grayscale(30%) blur(2.5px);
	}
}

.card {
    box-shadow: 0px 5px 10px rgba(30, 145, 214, 0.25);
}

.click-me{
    border-color: #ededed;
    border-width: 3px;
    color: #fff;
    width: 12rem;
}

h2 {
    color: #d75b5b;
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    padding-top: 30px;
}
.row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}