.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    /* transition: .5s ease; */
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.photo:hover .image {
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 0.5s;
    opacity: 0.45;
}

.photo:hover .middle {
    opacity: 1;
    
}
@keyframes fadeInOpacity {
	0% {
		opacity: 1;
	}
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.65;
    }
    75% {
        opacity: 0.55;
    }
    100% {
		opacity: 0.45;
	}
}